@import url('https://fonts.googleapis.com/css?family=Impact');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

header{
    background:#000000;
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 200px;
    z-index: -1;
}

canvas {
    width: 100%;
    height: 100%;
}



.instructions{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 3px;
    padding: 20px 14px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    margin-top: 1px;
    margin-left:300px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.identity{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    background:black;
    border-radius: 15px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}

@keyframes toblack{
    0%{background:url(https://static.pexels.com/photos/210186/pexels-photo-210186.jpeg);}
    100%{background:black;}
}
.BackButton{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 15px;
    background:#222222;
    padding:10px 30px;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-top:-60px;
    margin-left:-240px;
    transform: translateX(-50%);
    text-align: left;
}
.signup{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 15px;
    background:black;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}
.submitsignup{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 15px;
    background:#000771;
    padding:10px 30px;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-top:20px;
    margin-left:260px;
    transform: translateX(-50%);
    text-align: left;
}
.CreateUsernameBox{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin-left:-50px;
    position: absolute;
    left: 50%;
    width:60%;
    transform: translateX(-50%);
    text-align: left;
}
.CreatePasswordBox{
    font-family: 'Source Sans Pro', sans-serif;
    background:#000000;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin-left:-50px;
    position: absolute;
    left: 50%;
    width:60%;
    transform: translateX(-50%);
    text-align: left;
}
.UsernameBox{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin-left:-50px;
    position: absolute;
    left: 50%;
    width:60%;
    transform: translateX(-50%);
    text-align: left;
}
.PasswordBox{
    font-family: 'Source Sans Pro', sans-serif;
    background:#000000;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin-left:-50px;
    position: absolute;
    left: 50%;
    width:60%;
    transform: translateX(-50%);
    text-align: left;
}
.submitIdentityButton{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 10px;
    display: inline-block;
    padding:3px 10px;
    font-size: 25px;
    margin-top:50px;
    margin-left:270px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}
.enterCommand{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    border: 1px solid #FFFFF9;
    border-radius: 3px;
    padding: 30px 12px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    margin-top: 1px;
    margin-left:-300px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#000000;
  font-family: 'Roboto', sans-serif;
  color:#FFFFFF;
}
.cup {
  position: relative;
  height: 16px;
  width: 110px;
  background: #0000FF;
}
.cup:after {
  content: '';
  position: absolute;
  left: 0px;
  width: 16px;
  height: 50px;
  background: #0044FF;
  bottom: 0px;
  animation: sidecup-fall 0.8s ease forwards;
  
}
.cup:before {
  content: '';
  position: absolute;
  right: 0px;
  width: 16px;
  height: 50px;
  background: #00006F;
  bottom: -px;
}
.slice {
  position: absolute;
  z-index: -1;
  height: 16px;
  background: #00F000;
  width: 64px;
  top: 0px;
  left: 12px;
  
}
.slice:nth-child(1):hover{
  animation: fnd 0.1s;
  animation-delay: 3s;
}
.slice:nth-child(2):hover{
  animation: fnd 0.1s;
  animation-delay: 3s;
}
.slice:nth-child(3):hover{
  animation: fnd 0.1s;
  animation-delay: 3s;
}
.slice:nth-child(4):hover{
  animation: fnd 0.1s;
  animation-delay: 3s;
}
.slice:nth-child(5):hover{
  animation: fnd 0.1s;
  animation-delay: 3s;
}
@keyframes sidecup-fall{
    100%{transform: rotate(-360deg) translateX(-16px) translateY(34px)}
}
@keyframes books-fall{
    100%{
        
    }
}

.slice:nth-child(1) {
  animation: move-1 0.3s ease forwards;
  animation-delay: 175ms;
}
@keyframes move-1 {
  50%{transform: rotate(6deg) translateY(-22px) translateX(-5px);}
  100% {
    transform: rotate(-6deg) translateY(-22px) translateX(-5px);
  }
}


.slice:nth-child(2) {
  animation:move-2 0.3s ease forwards; animation-delay: 350ms;

}
@keyframes move-2 {
  50%{transform: rotate(12deg) translateY(-44px) translateX(-10px);}
  100% {
    transform: rotate(-12deg) translateY(-44px) translateX(-10px);
  }
}
@keyframes move-6 {
  100% {
    transform: rotate(360deg) translateY(60px) translateX(20px);
  }
}
.slice:nth-child(3) {
  animation: move-3 0.3s ease forwards;
  animation-delay: 525ms;
}
@keyframes move-3 {
  50%{transform: rotate(18deg) translateY(-66px) translateX(-15px);}
  100% {
    transform: rotate(-18deg) translateY(-66px) translateX(-15px);
  }
}
.slice:nth-child(4) {
  animation: move-4 0.3s ease forwards;
  animation-delay: 700ms;
}
@keyframes move-4 {
  50%{transform: rotate(24deg) translateY(-88px) translateX(-20px);}
  100% {
    transform: rotate(-24deg) translateY(-88px) translateX(-20px);
  }
}
.slice:nth-child(5) {
  animation: move-5 0.3s ease forwards;
  animation-delay: 875ms;
}
@keyframes move-5 {
  50%{transform: rotate(30deg) translateY(-110px) translateX(-23px);}
  100% {
    transform: rotate(-30deg) translateY(-110px) translateX(-23px);
  }
}
.graphic {
  transform: translateX(150px);
  animation: shift 1s linear forwards;
  animation-delay: 1.5s;
  
}
@keyframes shift {
  0% {transform: translateX(150px);}
  100% {
    transform: translateX(-75px);
  }
}
p.title-intro {
  margin-left:50px;
  margin-top: 0px;
  font-size: 45px;
  font-weight: -700;
  transform: translateY(-20px);
  opacity: 0;
  animation: rise 0.4s linear forwards;
  animation-delay: 2.3s;
  letter-spacing: 2px;
}
@keyframes rise {
  100% {
    opacity: 1;
    transform: translateY(-45px);
    
  }
}
@keyframes rise2 {
  100% {
    opacity: 1;
    transform: translateY(-1000px);
  }
}
span {
  position: relative;
  font-weight: 500;
  font-size: 52px;
}
span:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000000;
  animation: reveal 1s linear forwards;
  animation-delay: 2.5s;
}
@keyframes reveal {
  100% {
    width: 0px;
  }
}
@keyframes fnd{100%{transition:translateY(40px)}}


#pimng{
    font-size:90px;
    animation:ghs 1s infinite;
}

@keyframes ghs{
    0%{font-size:90px;}
    50%{font-size:100px;}
    100%{font-size:90px;}
}

@keyframes opacitychange{
    0% {opacity:1;}
    80%{opacity:1;}
    100% {opacity:0; visibility:hidden;}
}



.HuamanGames{
    font-family: 'Impact';
    position:absolute;
    animation: opacitychange 7s;
    opacity:0;
    margin-top:30px;
    
    
}
.title-intro{color:#FFFFFF;}
